@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}
nav{
    opacity: 0.98;
}

body::before{
    display: block;
    content: '';
    height: 60px;
}
.back-to-top:hover{
    opacity: 0.98;
    transition: 0.15s ease-in-out;
}
.java-img{
    width: 50%;
    height: 200px;
    margin-left: 20px;
    padding-bottom: 30px;
}
.react{
    width: 70%;
    height: 70%;
    margin-left: 20px;
    
}

